script
	{
	display: none;
	}

section {
	width: 32%;
	position: relative;
	margin-left: 68%;
	border: 6px solid darkblue;
	border-radius: 5px;
	}

map	{
	display: inline;
	}

label
	{
	font-size: 36px;
	}

input
	{
	font-size: inherit;
	height: auto;
	max-width: 40%;
	}

input[type=submit], input[type=reset]
	{
	height: auto;
	width: auto;
	background-color: #000000;
	color: #FFFFFF;	
	font-size: 24px;
	font-weight: bold;
	margin-left: 10%;
	text-align: center;
	}


textarea
	{
	font-size: 24px;
	}	


cite a
	{
	text-decoration: none;
	color: yellow;	
	}
